body{

}

.navbar{
    margin-bottom: 20px;
}

.box{
    border: 1px solid red;
}

.container{
    width:90%;
}

hr{
    border:none;
    height: 3px;
    color:#333;
    background-color: #333;
}

.home-headline{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin : auto;
}

.home-headline span{
    background-color: #231F20;
    padding: 5px 22px;
}

.section-headline{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top : 90px;
}

.section-headline span{
    background-color: #231F20;
    padding: 5px 22px;
}